* {
  box-sizing: border-box;
}

body {
  font-family: 'Pretendard';
  background-color: #f1f1f1;
}

/* reset */
body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

section {
  margin: 0.75rem;
  margin-bottom: 0;
}

.wrap {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.card-container {
  display: flex;
  align-items: center;
}

.card-container>li {
  background-color: #fff;
  border-radius: 0.8rem;
}

.hidden {
  overflow: hidden;
  border: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
  /* for legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
}

.inline-hidden {
  overflow: hidden;
  display: inline-block;
  position: relative;
  z-index: -1;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.sm {
  font-size: 0.9rem;
  font-weight: 300;
}

.gray {
  color: #818181;
}

.slider-btn {
  cursor: pointer;
  border: 1px solid #e7e7e7;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 30px;
  background: url(./assets/arrow_back_ios_FILL0_wght400_GRAD0_opsz48.png) no-repeat 0.75rem / 1.25rem;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(50% - 1.5rem);
  left: 2rem;
}

.slider-btn:nth-of-type(2) {
  background-image: url(./assets/arrow_forward_ios_FILL0_wght400_GRAD0_opsz48\ \(1\).png);
  background-position: 0.7rem;
  left: auto;
  right: 2rem;
}

.slider-btn-sm {
  cursor: pointer;
  border: 1px solid #e7e7e7;
  width: 2rem;
  height: 2rem;
  border-radius: 30px;
  background: url(./assets/arrow_back_ios_FILL0_wght400_GRAD0_opsz48.png) no-repeat 0.75rem / 1rem;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: calc(50% - 1rem);
  left: 2rem;
}

.slider-btn-sm:nth-of-type(2) {
  background-image: url(./assets/arrow_forward_ios_FILL0_wght400_GRAD0_opsz48\ \(1\).png);
  background-position: 0.5rem;
  left: auto;
  right: 2rem;
}

.btn-hide {
  display: none;
}

#navi-show {
  display: none;
  background: url(./assets/menu.png) no-repeat center / 100%;
  border: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  z-index: 300;
}

.min #navi-show {
  background-image: url(./assets/close.png);
}

.min #lnb {
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  /* opacity: 0.75; */
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.min #lnb .lv1 {
  flex-direction: column;
  align-items: center;
}

.min #lnb .lv1 li {
  display: flex;
  align-items: center;
  width: 100%;
}

.min #lnb .lv1>li {
  margin-bottom: 2rem;
}

.min #lnb .lv1>li>a {
  font-size: 1.75rem;
  text-align: right;
  width: 15rem;
  margin-right: 2rem;
}

.min #lnb .lv2 {
  padding: 0;
}

.min #gnb {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 250;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.min #gnb a {
  display: inline-block;
  width: 4rem;
  line-height: 4rem;
  font-size: 1rem;
  border: 1px solid #0055b2;
  color: #0055b2;
  padding: 0;
  margin: 0.5rem 0;
  text-align: center;
  border-radius: 2rem;
}

body:has(header.min) {
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 0 0.65rem;
  padding-right: 10rem;
  border-bottom: 1px solid #e7e7e7;
  z-index: 100;
  overflow: hidden;
  transition: 0.5s height;
  background: #fff;
}

header::after {
  content: "";
  position: absolute;
  top: 6rem;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

#logo {
  padding-top: 1rem;
}

#logo img {
  width: 20rem;
}

#gnb {
  position: absolute;
  line-height: 6rem;
  right: 1rem;
}

#gnb a {
  color: #818181;
  font-weight: 300;
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

#lnb {
  width: 36rem;
}

#lnb>ul {
  display: flex;
  justify-content: space-between;
  text-align: right;
}

#lnb .lv1>li {
  line-height: 6rem;
  padding: 0;
  min-width: 15%;
}

#lnb .lv1>li>a {
  font-size: 1.1rem;
  font-weight: 600;
}

#lnb .lv2 {
  padding-top: 1rem;
}

#lnb .lv2>li {
  line-height: 3rem;
}

#lnb .lv2>li>a:hover {
  color: #2E89C9;
}

/* campaign */

#campaign {
  margin: 0;
  border-radius: 0;
  margin-top: 6rem;
  height: 30rem;
  padding: 2rem 0;
  background: url(./assets/bg.jpg) no-repeat center / cover;
  position: relative;
  overflow: hidden;
  transition: 1s;
}

#campaign ul {
  justify-content: space-around;
  width: 300%;
}

#campaign ul li {
  width: 82vw;
  height: 26rem;
  padding: 3rem 2rem;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

#campaign ul li h3 {
  font-size: 2rem;
  padding: 1rem 0 1rem;
}

#campaign ul li p {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

#campaign ul li a {
  display: block;
  width: fit-content;
  background-color: #0055b2;
  border-radius: 0.5rem;
  color: #fff;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  margin-top: 4rem;
}

#campaign ul li p:nth-of-type(2) {
  font-size: 0.95rem;
  margin-top: 0;
}

#campaign ul li img {
  display: block;
  height: 20rem;
}
#campaign ul li:nth-child(2) img {
  height: 22rem;
}
#campaign.min {
  height: 39rem;
}
#campaign.min ul {
  align-items: initial;
}
#campaign.min ul .upper {
  order: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#campaign.min ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 34rem;
  padding: 1rem;
}
#campaign.min ul li h3 {
  font-size: 1.5rem;
}
#campaign.min ul li p {
  font-size: 1rem;
}
#campaign.min ul li img {
  margin-top: 0;
}
#campaign.min ul li a {
  margin-top: 1rem;
}


/* metaphor */


#metaphor {
  display: flex;
  flex-direction: column;
}

#metaphor ul {
  display: flex;
  justify-content: space-between;
}

#metaphor ul li {
  position: relative;
  background-color: #fff;
  border-radius: 0.8rem;
}

#metaphor ul li a {
  width: 100%;
  height: 100%;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;

}

#metaphor ul li a h3 {
  font-weight: 500;
}

/* 메타포 아이콘 관련 설정*/
#metaphor ul li a h3::before {
  content: "";
  display: block;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background: url(./assets/metaphors.png) no-repeat top left / 300%;
}

.metaphor-firstrow li a h3::before {
  position: absolute;
  top: calc(50% - 1.5rem);
  left: 1.5rem;
}

.metaphor-lastrow li a h3::before {
  margin-bottom: 1rem;
}

.metaphor-firstrow li {
  width: 49.5%;
  /* height: 6rem; */
}

.metaphor-firstrow li a div {
  margin-left: 4.5rem;
}

#metaphor .metaphor-firstrow li:nth-of-type(2) a h3::before {
  background-position: top left 50%;
}

#metaphor .metaphor-lastrow li:nth-of-type(1) a h3::before {
  background-position: bottom left;
}

#metaphor .metaphor-lastrow li:nth-of-type(2) a h3::before {
  background-position: top right;
}

#metaphor .metaphor-lastrow li:nth-of-type(3) a h3::before {
  background-position: bottom left 50%;
}

#metaphor .metaphor-lastrow li:nth-of-type(4) a h3::before {
  background-position: top right;
}

.metaphor-lastrow {
  margin-top: 0.75rem;
}

.metaphor-lastrow li {
  width: 24.25%;
  height: 10rem;
}

.metaphor-lastrow li a {
  justify-content: center;
}

.metaphor-lastrow h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#missing-people {
  margin: 1rem 0 2rem;
  position: relative;
}

#missing-people h2 {
  font-weight: 600;
  font-size: 1.75rem;
  margin: 1rem 0;
}

#miss-slider {
  width: 200%;
  height: 19.5rem;
}

#miss-slider li {
  margin-right: 1rem;
  width: 8.3%;
  height: 100%;
  background: #818181 no-repeat top / 105%;
  overflow: hidden;
}

#miss-slider a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

#miss-slider a p {
  background-color: #fff;
  font-size: 1.2rem;
  position: absolute;
  width: 100%;
  bottom: 0;
  line-height: 3rem;
  padding: 0 0.8rem;
  font-weight: 600;
}

#miss-slider a p span {
  font-size: 1rem;
  font-weight: 400;
  color: #818181;
}

.boards {
  display: flex;
  justify-content: space-between;
}

.boards>article {
  background-color: #fff;
  border-radius: 0.8rem;
  padding: 1.75rem 1.75rem 4rem;
  width: 49.5%;
  position: relative;
}

.boards h3 {
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  padding: 0.5rem 0 1.25rem;
}

.boards h3::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}

.boards ul {
  padding-top: 1rem;
}

.boards ul li {
  line-height: 2.5rem;
}

.boards ul li a {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.boards ul li a>span:first-child {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 70%;
}

.boards ul li a>span:last-child {
  color: #b5b5b5;
  font-weight: 300;
}

.boards>article>a {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
}

.cooperate {
  margin-top: 1.75rem;
  position: relative;
}

.cooperate ul {
  width: fit-content;
  height: 4rem;
}

.cooperate ul li {
  width: 11rem;
  height: 3.5rem;
  margin: 0 0.5rem;
  overflow: hidden;
}

.cooperate ul li a {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff no-repeat center / cover;
}

footer {
  background-color: #385575;
  text-align: center;
  margin-top: 1.75rem;
  padding-top: 2rem;
  font-size: 0.85rem;
}

footer ul {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

footer ul li {
  margin: 0 1rem;
  position: relative;
}

footer ul li::after {
  content: "";
  display: block;
  height: 1rem;
  position: absolute;
  top: 0;
  right: -1rem;
  border-right: 1px solid #fff;
}

footer ul li:last-child::after {
  display: none;
}

footer ul li a {
  color: #fff;
}

footer address {
  display: flex;
  width: fit-content;
  margin: 0 auto;
  color: #fff;
  font-style: normal;
  padding-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

footer address span {
  margin: 0 0.5rem;
  font-weight: 300;
  position: relative;
}

footer small {
  display: block;
  padding: 3rem 0 1rem;
  font-size: 0.75rem;
  color: #e7e7e7;
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  #logo img {
    padding-top: 0.8rem;
    width: 15rem;
  }

  #lnb {
    width: 33rem;
  }

  #lnb .lv1>li {
    min-width: 18%;
  }

  #gnb {
    padding-right: 0.5rem;
  }
  #campaign ul li img {
    height: 18rem;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 850px) {
  #logo img {
    padding-top: 0.8rem;
    width: 13rem;
  }

  #lnb {
    width: 30rem;
  }
  #campaign ul li img {
    height: 15rem !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  * {
    box-shadow: none !important;
  }

  header {
    display: block;
  }

  .slider-btn,
  .slider-btn-sm {
    display: none;
  }

  #logo img {
    padding-top: 0.4rem;
    width: 18rem;
  }

  /* 네비게이션 메뉴 버튼으로 줄이기*/
  #navi-show {
    display: block;
  }

  .wrap {
    width: 98%;
  }

  section {
    margin: 0;
  }

  #metaphor ul {
    margin-top: 0.5rem;
  }

  #metaphor ul li a h3 {
    font-size: 1rem;
  }

  #missing-people {
    margin: 0.75rem;
  }

  .special-slider-wrap {
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

  .boards {
    flex-direction: column;
  }

  .boards>article {
    width: 100%;
    margin-bottom: 1rem;
  }

  .boards>article>a {
    width: 5rem;
    right: auto;
    left: calc(50% - 2.5rem);
    text-align: center;
  }

  .boards ul li a>span:first-child {
    max-width: 75%;
  }
}

@media screen and (max-width: 360px) {
  html {
    font-size: 60%;
  }
  #metaphor .metaphor-firstrow span {
    display: none;
  }
  #metaphor .metaphor-firstrow li a {
    padding: 1.5rem
  }
  #metaphor .metaphor-lastrow li a {
    padding: 0.75rem;
  }
  #campaign ul li img {
    height: 12rem;
  }
}